<div id="banner">
  <div class="container">
      <div class="header">
        <h1 class="hvr-shrink">EAT.</h1>
        <h1 class="hvr-shrink" style="margin-top:40px">CODE.</h1>
        <h1 class="hvr-shrink" style="margin-top:60px">SLEEP.</h1>
        <h1 class="hvr-shrink" style="margin-top:80px">REPEAT.</h1>
        <p><i>Web Designer & Developer / Graphic Designer / Programmer</i></p>
      </div>
  </div>
</div>

<div class="container">
  <div class="socialmedia">
    <a href="https://www.facebook.com/immabecallie" target="_blank" <i id="facebook" class="fa fa-facebook fa-3x fa-border" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/callie17890/" target="_blank"<i id="linkedin" class="fa fa-linkedin fa-3x fa-border" aria-hidden="true"></i></a>
    <a href="mailto:calliebraithwaite@gmail.com?Subject=Hello" <i id="mail" class="fa fa-envelope fa-3x fa-border" aria-hidden="true"></i></a>
    <a href="https://calliestechblog.wordpress.com/" target="_blank" <i id="wordpress" class="fa fa-wordpress fa-3x fa-border" aria-hidden="true"></i></a>
  </div>
</div>
