<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="/css/stylesheet.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Icons -->
  <link href="css/hover-min.css" rel="stylesheet">
  <link href="css/scrollanim.min.css" rel="stylesheet">

</head>
<body>
  {{> header}}
  {{> banner}}

  <div id="about" class="container">
      <h1>ABOUT ME</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div id="companies" class="container">
    <div data-kui-anim="fadeIn">
      <h3 class="text-center">PROUDLY WORKED WITH</h3>
        <div class="container text-center">
          <div class="row">
            <a href="#" target="_blank"><img src="img" alt="Company photo"></a>
            <a href="#" target="_blank"><img src="img" alt="Company photo"></a>
            <a href="#" target="_blank"><img src="img" alt="Company photo"></a>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="container">
    <h1>SKILLS</h1>
    <h3>Tools and apps I use everyday</h3>
      <div class="container">
        <div class="row">
          <ul style="display:flex; list-style:none; padding-left:0">
            <li><img src="img/tools/photoshop.svg" alt="Photoshop"></li>
            <li><img src="img/tools/illustrator.svg" alt="Illustrator"></li>
            <li><img src="img/tools/indesign.svg" alt="InDesign"></li>
            <li><img src="img/tools/dreamweaver.svg" alt="Dreamweaver"></li>
          </ul>
        </div>
      </div>

      <h2>Languages</h2>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
      <h2>Workflows</h2>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
  </div>

  {{> footer}}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>
  <script src="js/javascript.js"></script>
  <script src="js/progressbar.js"></script>
  <script src="js/scrollanim.min.js"></script>

</body>
</html>
