<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="/css/stylesheet.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Icons -->
  <link href="css/hover-min.css" rel="stylesheet">
  <link href="css/scrollanim.min.css" rel="stylesheet">

</head>
<body>
  {{> header}}
  {{> banner}}

  <div id="about" class="container">
      <h1>ABOUT ME</h1>
      <p>I graduated from <span class="pink">Purdue University</span> December 2016 with a double major in <span class="pink">Computer Graphics Technology</span> & <span class="pink">Web Design and Development.</span> I minored in Computer and Information Technology. I love programming websites and some of my favorite hobbies include cooking, skiing, playing badminton, coding, drawing, and traveling. My goal is to become a <span class="pink">full-stack web developer.</span></p>
  </div>

  <div id="resume" class="container">
      <div class="row">
        <div class="col-xs-5" style="padding-right:0;">
          <img src="img/callie.png" alt="Callie">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7" style="padding-left:0">
          <div class="card">
            <h3><b>I'M CALLIE</b></h3>
            <p class="pink"><i>Web Developer & Designer</i></p>
            <hr>

            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="min-height:230px">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <h4 class="text-center">EDUCATION</h4>
                  <br>
                  <p>College: Purdue University, College of Technology</p>
                  <p>Date: August 2014 – December 2016</p>
                  <p>Double Major: Bachelor of Science in Computer Graphics Technology & Bachelor of Science in Web Design and Programming</p>
                  <p>Minor: Computer Information Technology</p>
                  <p>GPA: 3.71</p>
                </div>

                <div class="item">
                  <h4 class="text-center">SKILLS</h4>
                  <br>
                  <p>Wev Development: HTML/CSS, JavaScript, PHP, jQuery, MySQL, AngularJS, Ruby on Rails, Node.js, Gulp.js, Git, Browserify</p>
                  <p>Other Technical Skills: Adobe Suite, WordPress, Constraint Based Modeling (NX & Catia), Animation (3Ds Max & Maya), SPSS, Java, C#, .NET</p>
                  <p>Communication Skills: Maintaining and updating social media sites. An effective communicator who works well individually and in groups.</p>
                </div>

                <div class="item">
                  <h4 class="text-center">EXPERIENCE</h4>
                  <br>
                  <p>¬  Digital Creative Asia (February 2017–July 2017) Shanghai, China
                  Web Developer: Maintaining client’s websites, updates, creating dynamic webpages</p>
                  <p>¬  Information Security Research and Education (Nov 2015–May 2016) Purdue University
                  Graphic Designer: Conducting research regarding Information Security. </p>
                  <p>¬  New Home Star (May 2015 – August 2015) Elmhurst, IL
                  Web Developer: Front-end development, cross browser testing, bug discovery and correction, project planning, and user-feedback and research.</p>
                </div>

                <div class="item">
                  <h4 class="text-center">ASSOCIATIONS</h4>
                  <br>
                  <p>Women in Technology (Sept 2014 – Dec 2017) Purdue University: Develop leadership skills and personal, as well as professional relationships through networking, mentoring, outreaches, and service.</p>
                  <p>Web and Design Club (Sept 2014 – Dec 2017) Purdue University: Enhance knowledge of current trends in Web Design and Computer Graphics through meetings with faculty, students, and outside professionals.</p>
                </div>

                <div class="item">
                  <h4 class="text-center">VOLUNTEER</h4>
                  <br>
                  <p>Adoption Center of Illinois (May 2011 – August 2014) Chicago, IL: Volunteered at various company events.</p>
                  <p>AARC Leader - California: Volunteered at various locations in California on public work projects. As well as working at a homeless shelter and soup kitchen.</p>
                </div>
              </div>
            </div>

            <a href="img/resume.pdf" style="font-size:18px;" download><button><i class="fa fa-arrow-circle-o-down" aria-hidden="true" style="margin-right:10px"></i>Download Resume</button></a>

          </div>
        </div>
      </div>
  </div>

  <div id="companies" class="container">
    <div data-kui-anim="fadeIn">
      <h3 class="text-center">PROUDLY WORKED WITH</h3>
        <div class="container text-center">
          <div class="row">
            <a href="http://www.findeight.com" target="_blank"><img src="img/companies/find8.png" alt="Find8"></a>
            <a href="https://digitalcreative.asia/" target="_blank"><img src="img/companies/dc.png" alt="Digital Creative"></a>
            <a href="http://newhomestar.com/nhc/" target="_blank"><img src="img/companies/newhomestar.png" alt="New Home Star"></a>
        </div>
      </div>
    </div>
  </div>

  <div id="skills" class="container">
    <h1>SKILLS</h1>
    <h2>Programming Languages</h2>
  <!--   <h3>Tools and apps I use everyday</h3>
      <div class="container">
        <div class="row">
          <ul style="display:flex; list-style:none; padding-left:0">
            <li><img src="img/tools/photoshop.svg" alt="Photoshop"></li>
            <li><img src="img/tools/illustrator.svg" alt="Illustrator"></li>
            <li><img src="img/tools/indesign.svg" alt="InDesign"></li>
            <li><img src="img/tools/dreamweaver.svg" alt="Dreamweaver"></li>
          </ul>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="skills" id="html">HTML/CSS</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="skills" id="javascript">JavaScipt</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="skills" id="php">php</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="skills" id="as">Adobe Suite</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="skills" id="net">.NET</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="skills" id="c">C#</div>
        </div>
      </div>

      <h2>Frameworks</h2>
        <ul>
          <li>AngularJS</li>
          <li>Ruby on Rails</li>
          <li>Node.js</li>
        </ul>
      <h2>Workflows</h2>
        <ul>
          <li>Gulp.js</li>
          <li>Git</li>
          <li>Browserify</li>
        </ul>
  </div>

  {{> footer}}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>
  <script src="js/javascript.js"></script>
  <script src="js/progressbar.js"></script>
  <script src="js/scrollanim.min.js"></script>

</body>
</html>
