<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="/css/stylesheet.css" rel="stylesheet">
  <link href="css/home.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Icons -->
  <link href="css/hover-min.css" rel="stylesheet">
  <link href="css/scrollanim.min.css" rel="stylesheet">

</head>
<body>
  {{> header}}
  {{> banner}}


  <div id="contact" class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="card">
            <img src="img/references/samuel.jpg" alt="John" style="width:100%">
              <h1>Samuel Jesse</h1>
              <p class="title">DC Asia</p>
              <p>Shanghai, China</p>
              <p><button data-toggle="modal" data-target="#myModal">Contact</button></p>
               <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        <p>Email: samueljesse@digitalcreative.asia</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
          </div>
      </div>

      <div class="col-md-6">
          <div class="card">
            <img src="img/references/melissa.jpg" alt="John" style="width:100%">
              <h1>Melissa Dark</h1>
              <p class="title">CERIAS</p>
              <p>Lafayette, Indiana</p>
                        <p><button data-toggle="modal" data-target="#myModal2">Contact</button></p>
               <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        <p>Office Phone: (765) 494-4545</p>
                        <p>Email: dark@purdue.edu</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
          </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="card">
            <img src="img/references/nathan.jpg" alt="John" style="width:100%">
              <h1>Nathan DeYoung</h1>
              <p class="title">New Home Star</p>
              <p>Elmhurst, Illinois</p>
                        <p><button data-toggle="modal" data-target="#myModal3">Contact</button></p>
               <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        <p>Phone: (815) 97906698</p>
                        <p>Email: nd1612@gmail.com</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
          </div>
      </div>

      <div class="col-md-6">
          <div class="card">
            <img src="img/references/josh.jpg" alt="John" style="width:100%">
              <h1>Josh Gurley</h1>
              <p class="title">Find8 Digital</p>
              <p>Lafayette, Indiana</p>
             <p><button data-toggle="modal" data-target="#myModal4">Contact</button></p>
               <!-- Modal -->
                <div class="modal fade" id="myModal4" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        <p>Linkedin: https://www.linkedin.com/in/joshuagurley/</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>





  {{> footer}}
  {{> scripts}}

</body>
</html>
